@CHARSET "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica);

body {
	font-family: 'IM Fell DW Pica', serif;
	background-color: #F6F4E8;
}

#spells {
	width: 95%;
	border-spacing: 0;
	margin: 1em;
}

legend {
	font-size: 1.25em;
	border-width: 5px 4px 3px;
	-moz-border-image: url(../images/simpleframe_wh_sm.png) 5 4 3 stretch;
	-webkit-border-image: url(../images/simpleframe_wh_sm.png) 5 4 3 stretch;
	-o-border-image: url(../images/simpleframe_wh_sm.png) 5 4 3 stretch;
	border-image: url(../images/simpleframe_wh_sm.png) 5 4 3 stretch;
 
}

#selection fieldset {
	background-color: white;
}

fieldset {
	border-width: 35px 33px 32px 32px;
	-moz-border-image: url(../images/frame.png) 35 33 32 32 stretch;
	-webkit-border-image: url(../images/frame.png) 35 33 32 32 stretch;
	-o-border-image: url(../images/frame.png) 35 33 32 32 stretch;
	border-image: url(../images/frame.png) 35 33 32 32 stretch;

}

#spells tr,
#spells td {
	height: 0;
}

#spells .spell_data_row td{
	height: 20px;
	padding: 0.25em;
}

.description.button,
.description.all,
fieldset legend {
	cursor: pointer;
}

.description.all {
	white-space: nowrap;
}

td .collapse img {
	display: block;
	margin-left: auto;
    margin-right: auto;
	top: 0;
}

.collapse img{
vertical-align:middle;
	
	padding-left: 0.3em;
	padding-right: 0.3em;

	
	-webkit-transform: rotateZ(180deg);
	-webkit-transition: -webkit-transform 0.5s ease;
}

.closed .collapse img{
	-webkit-transform: rotateZ(0deg);
}

fieldset.open .content .options{
	-moz-column-count:4 ;
	-webkit-column-count: 4;
	-o-column-count: 4;
	column-count: 4;
}


#spells td.description.row,
#spells .header_border	 {
	border-width: 0px 0px 31px;
	-moz-border-image: url(../images/hrule_lg.png) 46 0 stretch round;
	-webkit-border-image: url(../images/hrule_lg.png) 46 0 stretch round;
	-o-border-image: url(../images/hrule_lg.png) 46 0 stretch round;
	border-image: url(../images/hrule_lg.png) 46 0 stretch round;
}

.description.full.closed {
	display: none;
}

.description.full {
	margin: 0.5em;
	padding: 0.5em;
	border-width: 35px 33px 32px 32px;
	-moz-border-image: url(../images/frame.png) 35 33 32 32 stretch;
	-webkit-border-image: url(../images/frame.png) 35 33 32 32 stretch;
	-o-border-image: url(../images/frame.png) 35 33 32 32 stretch;
	border-image: url(../images/frame.png) 35 33 32 32 stretch;
	background-image: url(../images/parchment.png);
}

.bool.yes {
	background-image: url(../images/checkmark.png);
}

.bool.no {
	background-image: url(../images/cross.png);
}

.bool {
	background-repeat: no-repeat;
	background-position: center; 
}

.spinner {
	position: absolute;		
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	
	height: 200px;
	width: 200px;

	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
	
	background-image: url(../images/spinner.png);
	
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

}

.spell_attrib {
	margin: 1em;	
}

.spell_attrib div {
	background-repeat: no-repeat;
	background-position: left;
	background-image: url(../images/checkmark.png);	
	
	padding-left: 1.5em;
}

strong{
	font-weight: bold;
}

@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}